@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header {
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 30px;
	
	background-color: #545454;
	color: #fff;
	
	box-shadow: 0px 2px 2px #ccc;
}

header > div {
	margin-left: 8px
}

#conteudo {
	padding: 0px 8px
}

footer {
	padding: 0px 8px;
	margin-bottom: 10px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px
}

#login-dialog {
	width: 290px;
	margin: auto;
	margin-top: 150px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px
}