<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    
    <beans:bean id="appUserDetailsService" class="com.algaworks.pedidovenda.security.AppUserDetailsService" />
    
    <http pattern="/Login.xhtml" security="none" />
    <http pattern="/Erro.xhtml" security="none" />
    <http pattern="/javax.faces.resource/**" security="none" />
    
	<http auto-config="false" use-expressions="true">
		<intercept-url pattern="/Home.xhtml" access="isAuthenticated()" />
		<intercept-url pattern="/pedidos/**" access="hasAnyRole('VENDEDORES', 'AUXILIARES', 'ADMINISTRADORES')" />
		<intercept-url pattern="/produtos/**" access="hasAnyRole('ADMINISTRADORES')" />
		<intercept-url pattern="/**" access="denyAll" />
		
		<form-login login-page="/Login.xhtml" authentication-failure-url="/Login.xhtml?invalid=true" 
			default-target-url="/" always-use-default-target="true" />
		<logout logout-url="/j_spring_security_logout" invalidate-session="true" />
	</http>
	
	<authentication-manager>
		<authentication-provider user-service-ref="appUserDetailsService">
			<!-- <password-encoder hash="md5" /> -->
		</authentication-provider>
	</authentication-manager>
           
</beans:beans>